@import "tailwindcss";

@theme {
      --font-Playfair: "Playfair Display", 'serif';
}

*::selection {
      background: #1f2937;
      color: #dd298f;
}

::-webkit-scrollbar {
      width: 0.6rem;
}

::-webkit-scrollbar-track {
      background: transparent;
}

::-webkit-scrollbar-thumb {
      background: #364a65;
      border-radius: 5rem;
}

@layer base {
      body {
            @apply font-Playfair;
      }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}